@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.layout{
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

.navbar{
    margin-top: 0;
    margin-bottom: auto;
}

.footer{
    margin-top: auto;
    margin-bottom: 0;
}